{% extends "CWbase.njk" %}
{% block content %}
    <section class="productDetails">
	<img src="{{profileImg}}">
	<div id="first">
		<h1>{{h1Title}}</h1>
		<p>{{pTitle}}</p>
		<hr>
		<div id="second">
			<div>
				<h2>Client</h2>
				<p>PEPPER BUILDER</p>
			</div>
			<div>
				<h2>Time</h2>
				<p>Oct 2020</p>
			</div>
		</div>
		<hr>
		<h2>Brief</h2>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33</p>
		<h2>Solution</h2>
		<p>
			Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
		</p>
	</div>

</section>


{% endblock %}