<header>
    <nav>
        {% navlist collections.all | eleventyNavigation, page, 1 %}
    </nav>
    <figure>
        <img src="/images/{% if hero %}{{ hero }}{% else %}IMG_3090.jpg{% endif %}" width="400" height="300" alt="decoration" />
    </figure>
</header>

<main>
{% block content %}
    <h1>{{title}}</h1>
    {{ content | safe }}
    {% include "partials/pagelist.njk" %}
{% endblock %}
</main>

<footer>
    <nav>
        {% navlist collections.all | eleventyNavigation, page, 2 %}
    </nav>
</footer>