
.productDetails
	{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 100px;
		text-align: justify;
	}

	.productDetails img,
	.productDetails div#first
	{
		max-height: 80vh;
	}
	.productDetails div#first
	{
		padding-left: 50px;
		max-width: 40%;

	}
	.productDetails div#second
	{
		display: flex;
		align-items: center;
		justify-content:flex-start;

	}
	.productDetails div#second div:nth-child(2)
	{
		padding-left: 40%;
	}