/*@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	min-height: 1000px;
}
header
{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
	transition: 0.6s;
	background: black;

}
header.sticky
{
	padding: 5px 100px;
	background-color: #fff;
	border-bottom: 1px solid(0,0,0,.1);
}
header.sticky ul li a
{
	color: #000;
}
header .logo
{
	position: relative;
	font-weight: 700;
	color: rgb(255,188,0);
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	position: relative;
	list-style: none;
}
header ul li.active
{
	color: #fff;
	font-weight: 400;
	background: rgba(255,188,0,0.8);
	padding: 10px;
	letter-spacing: 2px;
}
header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6s;
	font-size: 1.2em;
}
.banner
{
	position: relative;
	width: 100%;
	min-height: 50vh;
	background: url(bg.png);
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.banner h1
{
	font-weight: 700;
	font-size: 3em;
	letter-spacing: 2px;
	width: 100%;
	margin-top: 20vh;
	text-align: center;
}
.banner h3
{
	font-weight: 400;
	width: 100%;
	letter-spacing: 7px;
	text-align: center;
}
.banner input
{
	height:70px;
	width: 40%;
	margin-bottom: 100px;
}
.navigation
{
	position: relative;
	background-color: #000;
	min-height: 10vh;
	width: 100%;
}
.navigation ul
{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 40px 100px;
}
.navigation ul li
{
	position: relative;
	list-style:none;
}
.navigation ul li a
{
	position: relative;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6s;
	font-size: 1.2em;
}
.row
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
.column25
{
	flex: 25%;
	max-width: 25%;
}
.column25 img,
.column50 img
{
	width: 100%;
}
.column50
{
	flex: 50%;
	max-width: 50%;
}
.moreProject
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 15vh;
	background-color: #949784;
}
.moreProject button
{
	background-color:#A7A99A;
	border: none;
	padding: 15px 32px;
	font-size: 16px;
	letter-spacing: 2px;
	display: inline-block;
	font-weight: 500;
}
.footer
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	min-height: 6vh;
}
.footer h3
{
	color: #fff;
	font-weight: 400;
	letter-spacing: 3px;
}
.sec
{
	background-color: #fff;
	padding: 100px;
	min-height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
.sec .content
{
	position: relative;
	text-align:center;
	width: 100%;
}
.mxw800p
{
	max-width: 800px;
	margin: 0 auto;
}
h3
{
	font-size: 40px;
	font-weight: 200;
	margin-bottom: 10px;
}
p
{
	position: relative;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
}
.btn
{
	position: relative;
	display: inline-block;
	background: #000;
	text-decoration: none;
	color: #fff;
	padding: 10px 30px;
	margin-top: 20px;
}
.services
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
	max-width: 100%;
	margin-top: 40px;
}
.services .box
{
	width: 300px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}
.services .box .iconBx
{
	margin-top: 15px;
}
.services .box .iconBx img
{
	max-width: 100px;
	margin-bottom: 15px;
}
.services .box h2
{
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}
.stats
{
	background: #000;
	padding-top: 250px;
	margin-top: -350px;

}
.stats h3,
.stats p
{
	color: #fff;
}
.statsBox
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
	max-width: 100%;
	margin-top: 40px;
}
.statsBox h2
{
	color: #fff;
	font-size: 36px;
}
.statsBox h4
{
	color: #fff;
}
.workBx
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 35px;
	max-width: 100%;
	margin-top: 40px;
	padding: 0 100px;
}
.workBx .brand
{
	position: relative;
	background: #4978ff;
	min-height: 300px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.workBx .brand:hover
{
	background: #000;
}
.teamBx
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
	padding: 0 100px;
}
.teamBx .member
{
	position: relative;
	background: #000;
	min-height: 300px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items:center;
}
.teamBx .member .imgBx
{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%
}
.teamBx .member .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.teamBx .member .details
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	transition: 0.2s;
	opacity: 0;
}
.teamBx .member:hover .details
{
	opacity: 1;
}
.teamBx .member .details h2
{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;
}
.teamBx .member .details h2 span
{
	display: block;
	font-size: 12px;
	font-weight: 300;
}
.contact
{
	background: #000;
}
.contact h3,
.contact p
{
	color: #fff;
}
.contactForm
{
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
}
.contactForm form
{
	width: 100%;
}
.contactForm .row100
{
	display: flex;
	width: 100%;
}
.contactForm .row100 .inputBx50
{
	width: 50%;
	margin: 0 20px;
}
.contactForm .row100 .inputBx100
{
	width: 100%;
	margin: 0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea
{
	position: relative;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	background: transparent;
	width: 100%;
	padding: 10px 0;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	margin: 20px 0;
	resize: none;
}
.contactForm .row100 textarea
{
	height: 100px;
}
.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder
{
	color: rgba(255,255,255,0.6);
}
.contactForm .row100 input[type="submit"]
{
	background: #fff;
	color: #000;
	max-width: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	font-weight: 500;
}
.sci
{
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;
	margin: 50px 0;
}
.sci ul
{
	display:flex;
}
.sci ul li
{
	list-style:none;
}
.sci ul li a
{
	text-decoration: none;
	display: inline-block;
	margin: 0 30px;
}
.sci ul li a img
{
	filter: invert(1);
	max-width: 40px;
}
.sci ul li a:hover img
{
	opacity: 0.5;
}
.copyright
{
	color: #fff;

}
.toggle
{
	display: none;
}
@media (max-width: 992px)
{
	.toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.toggle:before
	{
		content:'';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after
	{
		content:'';
		position: absolute;
	    bottom: 4px;
	    width: 100%;
	    height: 2px;
	    background: #000;
	    z-index: 1;
	    transition: 0.5s;
	}

	header,
	header.sticky
	{
		/*padding: 5px 50px;*/
		background: #fff;
	}
	header ul li a
	{
		color: #000;
	}
	header ul#first
	{
		/*home*/
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		height: 50vh;
		text-align: center;
		overflow:auto;
		background: #fff;
		visibility:hidden;
		opacity: 0;
		margin: auto;
	}
	header ul#second
	{
		position: absolute;
		top: 220px;
		left:0;
		width: 100%;
		height: 50vh;
		text-align: center;
		overflow:auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
		margin: auto;
	}
	header.active ul#first
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
	}
	header.active ul#second
	{
		visibility: visible;
		opacity: 1;
		display:block;
	}
	header.active ul li a
	{
		display: inline-block;
		margin: 5px 0;
		font-size: 20px;
	}
	.banner
	{
		margin-top: 25vh;
		background-position:center;
	}
	.navigation
	{
		display: none;
	}

	.contactForm .row100 {
	    flex-wrap: wrap;
	}
	.contactForm .row100 .inputBx50
	{
		width: 100%;
		margin: 0 20px;
	}


}
/*44:31 css background-position: center*/