<!-- Header -->
	<header id="header">
		<a href="#" class="logo">Logo</a>
		<div class="toggle" onclick="toggle()"></div>
		{% navlist collections.all | eleventyNavigation, page, 1 %}
		<!-- ul id="first">
			<li><a href="#home" onclick="toggle()">HOME</a></li>
			<li><a href="#about" onclick="toggle()">ABOUT US</a></li>
			<li><a href="#contact" onclick="toggle()">CONTACT US</a></li>
		</ul --!>

		<ul id="second">
			<li><a href="#">Be</a></li>
			<li><a href="#">YouTube</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Pinterest</a></li>
		</ul>
	</header>